<main>
    <article id="home">
        <!-- <img src="imagens/foto-home.jpg" alt="foto" class="img"> -->
        <h2>Salão de beleza Fran Nails</h2>
        <p>
            <ul>
                <li></li>
            </ul>
        </p>
    </article>
    
    <article id="servicos">
        <!-- <img src="#" alt="foto"> -->
        <h2>Nossos Serviços</h2>
    </article>

    <article id="produtos">
        <!-- <img src="#" alt="foto"> -->
        <h2>Produtos</h2>
    </article>

    <article id="dicas">
        <h2>Dicas</h2>
    </article>
    
    <article id="contato">
        <h2>Contato</h2>
    </article>
</main>