 <hr class="hr1">
   <div class="detalhes-post">
        <div class="detalhes-posts">
            <div class="post-image">
                <img src="{{post.image.url}}" width="300" alt="" /></a>
            </div>
            <div class="meta"> 
                <div class="post-detalhes">
                    <div class="detalhes">
                        <div class="data">
                            <time class="published" datetime="post.created_at" >{{post.created_at }} </time>   
                        </div>
                        <a href="{% url 'post-detail' post.id %}"> <h1>{{post.title}}</h1></a> 
                        <div class="description">
                            <time class="published" datetime="post.description" >{{post.description}} </time>
                            <div class="post-button">
                                <div class="button">leia mais</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
    

