{% extends 'index.html' %}
{% block header %}  {% include 'header.html' %} {% endblock %} 

{% block content %}
<div class="container">
    <div class="post-detail"> 
        <h1>{{post.title}}</h1>
        <p> {{post.created_at}} </p>
        <img src="{{post.image.url}}" width="400" alt="{{post.title}}"> <br>
    </div>
    <div class="post-description">
         <p><br><br> {{post.description}} </p>
    </div>
</div>
<a href="{% url 'post-delete' post.id %}"> <button type="button" class="btn btn-success">deletar</button></a>
<a href="{% url 'post-update' post.id %}"> <button type="button" class="btn btn-success"> Atualizar </button></a>

{% block footer %}  {% include 'footer.html' %} {% endblock %}
{% endblock content %}
    