<main class="conteudo-principal">
    <section class="home" id="link-home">
        <img src="imagens/foto-home.jpg" alt="foto-home" class="foto-home">
        <div class="conteudo-home">
            <h1>Salão de Beleza Fran Nails</h1>
            <ul>
                <li>Corte</li>
                <li>Botox</li>
                <li>Pedicure</li>
                <li>Nutrição</li>
                <li>Manicure</li>
                <li>Progressiva</li>
                <li>Coloração</li>
                <li>Hidratação</li>
            </ul>
        </div>
    </section>
</main>